---
layout: default
---

<div class="home">

    <p>This site is currently a work in progress! (aka I'm currently in the middle of second year, and organising some amazing events for <a href="http://www.sheplusplus.org/ambassadors/#team" target="_blank">She++</a>, the <a href="http://uclutech.com" target="_blank">UCLU Technology Society</a>, and the <a href="http://uclupole.weebly.com" target="_blank">UCLU Pole Fitness Society</a>, and also coursework and exams... Check back in summer 2016!)</p>
    <p>Check out <a href="http://technight.london" target="_blank">Tech Night LDN</a> :)</p>
    <p>Note: Some of the notes need updating to include information on WiFi and the Cloud as part of "How the Web &amp; Internet Work".</p>

  <h1 class="page-heading">Beginners</h1>

  <ul class="post-list">
    {% for beginner in site.beginners %}
    <li>
        <h2>
          <a class="post-link" href="{{ beginner.url | prepend: site.baseurl }}">{{ beginner.title }}</a>
        </h2>
    {% endfor %}
    </li>
  </ul>

  <h1 class="page-heading">Advanced - Python</h1>

  <ul class="post-list">
    {% for python in site.python %}
    <li>
        <h2>
          <a class="post-link" href="{{ python.url | prepend: site.baseurl }}">{{ python.title }}</a>
        </h2>
    {% endfor %}
    </li>
  </ul>

  <h1 class="page-heading">Advanced - Ruby</h1>
  <ul class="post-list">
    {% for ruby in site.ruby %}
    <li>
        <h2>
          <a class="post-link" href="{{ ruby.url | prepend: site.baseurl }}">{{ ruby.title }}</a>
        </h2>
    {% endfor %}
    </li>
  </ul>


  <!-- <hr>

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul> -->

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
